* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

:root {
  --titleColor: #e7c444;
  --plusColor: #eeafff;
  --dataTextColor: rgb(164, 184, 169);
  --boxColor: rgba(40, 44, 41, 0.65);
  --inflaColor: rgb(228, 68, 68);
  --deflaColor: rgb(101, 224, 63);
  --neutralColor: rgb(164, 184, 169);
  --textColor: #fff;
  --daysColor: #afc0ff;
  --inputColor: rgba(255, 255, 255, 0.85);
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../img/the-market-3147758_640.jpg");
  background-attachment: fixed;
  background-size: cover;
  font-family: "Roboto", sans-serif;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button:active {
  -webkit-animation: btnAnimation 0.2s;
          animation: btnAnimation 0.2s;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.container .container-shadow {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.35);
}
.container .container-shadow .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
}
.container .container-shadow .top h1 {
  font-family: "Lexend Zetta", sans-serif;
  font-size: 4rem;
  letter-spacing: 0.5rem;
  color: var(--titleColor);
}
.container .container-shadow .top h1 span {
  color: var(--textColor);
}
.container .container-shadow .top .add-btn {
  margin: 1.5rem auto;
  font-size: 5rem;
  color: var(--plusColor);
}
.container .container-shadow .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}
.container .container-shadow .list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  margin: 0.5rem 0;
  color: var(--plusColor);
  background-color: var(--boxColor);
  border-radius: 0.8rem;
}
.container .container-shadow .list li .name {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  color: var(--titleColor);
}
.container .container-shadow .list li .article-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 1rem 1rem 0;
  color: var(--textColor);
}
.container .container-shadow .list li .article-data p {
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
}
.container .container-shadow .list li .article-data .prices {
  position: relative;
}
.container .container-shadow .list li .article-data .prices .actual-price {
  position: absolute;
  bottom: 0;
}
.container .container-shadow .list li .article-data .article-data-value {
  color: var(--dataTextColor);
}
.container .container-shadow .list li .article-data .infla-value {
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--inflaColor);
}
.container .container-shadow .list li .article-data .infla,
.container .container-shadow .list li .article-data .scale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.container .container-shadow .list li .article-data .infla .scale-value,
.container .container-shadow .list li .article-data .scale .scale-value {
  font-size: 1.75rem;
  color: var(--daysColor);
}
.container .container-shadow .list li .tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container .container-shadow .list li .tools .fa-solid {
  margin: 0 1rem;
  padding: 1rem;
  font-size: 1.5rem;
  color: var(--plusColor);
}

.new-article-popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100vh;
  padding: 2rem;
  background-color: var(--boxColor);
}
.new-article-popup form .form-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 1rem 0;
  color: var(--titleColor);
}
.new-article-popup form .form-box label {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}
.new-article-popup form .form-box input {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  width: 90%;
  text-align: center;
  background-color: var(--inputColor);
  border-radius: 1rem;
  border: none;
}
.new-article-popup form .form-box .error-text {
  visibility: hidden;
  margin-top: 0.5rem;
  font-size: 1.1rem;
  color: var(--inflaColor);
}
.new-article-popup form .tools-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.new-article-popup form .tools-btns .fa-solid {
  font-size: 3rem;
  margin: 0 2rem;
  padding: 1rem;
}
.new-article-popup form .tools-btns .fa-square-check {
  color: var(--deflaColor);
}
.new-article-popup form .tools-btns .fa-xmark {
  color: var(--inflaColor);
}

.hide {
  display: none;
}

@-webkit-keyframes btnAnimation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes btnAnimation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@media (min-width: 576px) {
  body {
    background-image: url("../img/the-market-3147758_1920.jpg");
  }
  .container,
.new-article-popup {
    width: 559px;
  }
}/*# sourceMappingURL=main.css.map */