* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
}
:root {
	--titleColor: #e7c444;
	--plusColor: #eeafff;
	--dataTextColor: rgb(164, 184, 169);
	--boxColor: rgba(40, 44, 41, 0.65);
	--inflaColor: rgb(228, 68, 68);
	--deflaColor: rgb(101, 224, 63);
	--neutralColor: rgb(164, 184, 169);
	--textColor: #fff;
	--daysColor: #afc0ff;
	--inputColor: rgba(255, 255, 255, 0.85);
}
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url('../img/the-market-3147758_640.jpg');
	background-attachment: fixed;
	background-size: cover;
	font-family: 'Roboto', sans-serif;
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}
button:active {
	animation: btnAnimation 0.2s;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	.container-shadow {
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.35);
		.top {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-top: 3rem;
			h1 {
				font-family: 'Lexend Zetta', sans-serif;
				font-size: 4rem;
				letter-spacing: 0.5rem;
				color: var(--titleColor);
				span {
					color: var(--textColor);
				}
			}
			.add-btn {
				margin: 1.5rem auto;
				font-size: 5rem;
				color: var(--plusColor);
			}
		}
		.list {
			display: flex;
			flex-direction: column;
			align-items: center;
			list-style-type: none;
			li {
				display: flex;
				flex-direction: column;
				align-items: center;
				width: 95%;
				margin: 0.5rem 0;
				color: var(--plusColor);
				background-color: var(--boxColor);
				border-radius: 0.8rem;
				.name {
					margin-top: 1rem;
					font-size: 1.5rem;
					font-weight: 700;
					letter-spacing: 0.2rem;
					color: var(--titleColor);
				}
				.article-data {
					display: flex;
					justify-content: space-between;
					width: 100%;
					padding: 1rem 1rem 0;
					color: var(--textColor);
					p {
						margin-bottom: 0.5rem;
						font-size: 1.3rem;
					}
					.prices {
						position: relative;
						.actual-price {
							position: absolute;
							bottom: 0;
						}
					}

					.article-data-value {
						color: var(--dataTextColor);
					}
					.infla-value {
						font-size: 1.75rem;
						font-weight: 700;
						color: var(--inflaColor);
					}
					.infla,
					.scale {
						display: flex;
						flex-direction: column;
						justify-content: center;
						text-align: center;
						.scale-value {
							font-size: 1.75rem;
							color: var(--daysColor);
						}
					}
				}
				.tools {
					display: flex;
					.fa-solid {
						margin: 0 1rem;
						padding: 1rem;
						font-size: 1.5rem;
						color: var(--plusColor);
					}
				}
			}
		}
	}
}

.new-article-popup {
	display: flex;
	justify-content: center;
	height: 100vh;
	width: 100vh;
	padding: 2rem;
	background-color: var(--boxColor);
	form {
		.form-box {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			margin: 1rem 0;
			color: var(--titleColor);
			label {
				margin-bottom: 0.5rem;
				font-size: 1.5rem;
			}
			input {
				padding: 0.5rem;
				margin-bottom: 0.5rem;
				width: 90%;
				text-align: center;
				background-color: var(--inputColor);
				border-radius: 1rem;
				border: none;
			}
			.error-text {
				visibility: hidden;
				margin-top: 0.5rem;
				font-size: 1.1rem;
				color: var(--inflaColor);
			}
		}
		.tools-btns {
			display: flex;
			justify-content: center;
			.fa-solid {
				font-size: 3rem;
				margin: 0 2rem;
				padding: 1rem;
			}
			.fa-square-check {
				color: var(--deflaColor);
			}
			.fa-xmark {
				color: var(--inflaColor);
			}
		}
	}
}
.hide {
	display: none;
}
@keyframes btnAnimation {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.4);
	}
	100% {
		transform: scale(1);
	}
}
@media (min-width: 576px) {
	body {
		background-image: url('../img/the-market-3147758_1920.jpg');
	}
	.container,
	.new-article-popup {
		width: 559px;
	}
}
