* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
	font-family: 'Roboto', sans-serif;
}
:root {
	--bgColor: rgb(47, 72, 88);
	--titleColor: rgb(134, 187, 216);
	--plusColor: rgb(246, 174, 45);
	--boxColor: rgb(23, 35, 43, 0.7);
	--inflaColor: rgb(218, 38, 38);
	--deflaColor: rgb(101, 224, 63);
	--neutralColor: rgb(164, 184, 169);
	--textColor: rgb(134, 187, 216);
	--white: #ffff;
}
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	background-color: var(--bgColor);
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	transition: 0.5s;
}
button:active {
	animation: btnAnimation 0.2s;
}
.container {
	display: flex;
	justify-content: center;
	width: 100%;
	.top {
		position: fixed;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		padding-top: 1.5rem;
		z-index: 1000;
		background-image: linear-gradient(to top, #2f4858, #446376, #597f96, #6f9cb6, #86bbd8);
		h1 {
			font-family: 'Lexend Zetta', sans-serif;
			font-size: 3rem;
			letter-spacing: 0.5rem;
			color: var(--bgColor);
			span {
				color: var(--white);
			}
		}
		.main-btns {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			justify-items: center;
			align-items: center;
			width: 100%;
			button {
				grid-column-start: 2;
				margin: 0.5rem auto;
				font-size: 6rem;
				color: var(--plusColor);
			}
			.sort-container {
				position: relative;
				display: flex;
				justify-content: center;
				height: 3rem;
				width: 10rem;
				margin-left: auto;
				margin-right: 1rem;
				background-color: var(--plusColor);
				color: var(--bgColor);
				border-radius: 0.7rem;
				#sort {
					width: 100%;
					padding: 0.25rem 0.5rem;
					font-weight: 700;
					border: none;
					color: var(--bgColor);
					background-color: var(--plusColor);
					border-radius: 0.5rem;
				}
			}
		}
	}

	.list {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 13.5rem;
		list-style-type: none;
		width: 95%;
		li {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
			margin-bottom: 0.5rem;
			background-color: var(--boxColor);
			border-radius: 0.8rem;
			.name {
				max-width: 90%;
				margin-top: 1rem;
				font-size: 2rem;
				font-weight: 700;
				letter-spacing: 0.2rem;
				color: var(--white);
				overflow: hidden;
			}
			.article-data {
				display: flex;
				justify-content: space-between;
				width: 100%;
				padding: 1rem 1rem 0;
				color: var(--neutralColor);
				p {
					margin-top: 0.5rem;
				}
				.dates {
					p {
						font-size: 1rem;
						span {
							margin-left: 0.5rem;
							font-size: 1.3rem;
							color: var(--textColor);
						}
					}
				}
				.prices {
					p {
						color: var(--textColor);
					}
				}
				.article-data-value {
					font-size: 1.3rem;
				}
				.infla-value {
					font-size: 1.75rem;
					font-weight: 700;
					color: var(--inflaColor);
				}
				.infla,
				.scale {
					display: flex;
					flex-direction: column;
					justify-content: center;
					text-align: center;
					.scale-value {
						font-size: 1.75rem;
						font-weight: 700;
						color: var(--white);
					}
				}
			}
			.tools {
				display: flex;
				button {
					margin: 0 1rem;
					padding: 1rem;
					font-size: 1.5rem;
					color: var(--plusColor);
				}
			}
		}
	}
}

.new-article-popup {
	display: flex;
	justify-content: center;
	height: 100vh;
	width: 100%;
	padding: 2rem;
	form {
		.form-box {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 1rem 0;
			color: var(--titleColor);
			label {
				margin-bottom: 0.5rem;
				font-size: 1.5rem;
			}
			input {
				display: block;
				padding: 0.5rem;
				margin-bottom: 0.5rem;
				width: 90%;
				font-family: 'Roboto', sans-serif;
				text-align: center;
				border-radius: 1rem;
				border: none;
			}
			::-webkit-inner-spin-button {
				display: none;
				-webkit-appearance: none;
			}
			::-webkit-calendar-picker-indicator {
				-webkit-appearance: none;
				display: none;
			}
			.error-text {
				visibility: hidden;
				margin-top: 0.5rem;
				font-size: 1.25rem;
				text-shadow: 0.1rem 0.1rem var(--boxColor);
				color: var(--inflaColor);
			}
		}
		.tools-btns {
			display: flex;
			justify-content: center;
			.fa-solid {
				font-size: 3rem;
				margin: 0 2rem;
				padding: 1rem;
			}
			.fa-square-check {
				color: var(--deflaColor);
			}
			.fa-xmark {
				color: var(--inflaColor);
			}
		}
	}
}
.hide {
	display: none;
}
@keyframes btnAnimation {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.4);
	}
	100% {
		transform: scale(1);
	}
}

@media (min-width: 576px) {
	.container {
		.top {
			h1 {
				font-size: 7rem;
			}
			.main-btns {
				button {
					font-size: 7rem;
				}
				.sort-container {
					margin-left: 0;
					margin-right: auto;
				}
			}
		}
		.list {
			max-width: 529px;
			margin-top: 20rem;
			li {
				padding-left: 3rem;
				padding-right: 3rem;

				.article-data {
					p {
						font-size: 1.5rem;
					}
					.dates {
						p {
							font-size: 1.5rem;
							span {
								font-size: 2rem;
							}
						}
					}
					.article-data-value {
						font-size: 2rem;
					}
				}
				.tools {
					button {
						margin: 0 2rem;
						font-size: 2.5rem;
					}
				}
			}
		}
	}

	.new-article-popup {
		width: 559px;
	}
}
