* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
}
:root {
	--bgColor: #7fbcd2;
	--plusColor: #ffeeaf;
	--boxColor: #e1ffee;
	--inflaColor: red;
	--deflaColor: green;
	--toolsColor: #9597ff;
}
body {
	display: flex;
	justify-content: center;
	background-color: var(--bgColor);
	font-family: 'Roboto', sans-serif;
}
.hide {
	display: none;
}
.fa-solid {
	cursor: pointer;
}
button {
	background-color: transparent;
	border: none;
}
button:active {
	animation: btnAnimation 0.2s;
}
.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 95%;
}
.top {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 3rem;
	h1 {
		font-family: 'Lexend Zetta', sans-serif;
		font-size: 4rem;
		letter-spacing: 0.5rem;
	}
	.add-btn {
		margin: 1.5rem auto;
		font-size: 5rem;
		color: var(--plusColor);
	}
}
ul {
	display: flex;
	flex-direction: column;
	list-style-type: none;
	li {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0.5rem 0;
		background-color: var(--boxColor);
		border-radius: 0.8rem;
		.name {
			margin-top: 1rem;
			font-size: 1.5rem;
			font-weight: 700;
			letter-spacing: 0.1rem;
		}
		.article-data {
			display: flex;
			justify-content: space-between;
			width: 100%;
			padding: 1rem 1rem 0;
			p {
				margin-bottom: 0.5rem;
				font-size: 1.3rem;
			}
			.article-data-value {
				font-weight: 700;
			}
			.infla-value {
				color: var(--inflaColor);
			}
		}
		.tools {
			display: flex;
			.fa-solid {
				margin: 0 1rem;
				padding: 1rem;
				font-size: 1.5rem;
				color: var(--toolsColor);
			}
		}
	}
}
.new-article-popup {
	padding: 2rem;
	margin-top: 3rem;
	background-color: var(--plusColor);
	border-radius: 1rem;
	form {
		.form-box {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			margin: 1rem 0;
			label {
				margin-bottom: 0.5rem;
				font-size: 1.5rem;
			}
			input {
				padding: 0.5rem;
				margin-bottom: 0.5rem;
				border-radius: 0.5rem;
			}
			.error-text {
				visibility: hidden;
				font-size: 1.1rem;
			}
		}
		.tools-btns {
			display: flex;
			justify-content: center;
			.fa-solid {
				font-size: 3rem;
				margin: 0 2rem;
				padding: 1rem;
			}
			.fa-square-check {
				color: var(--deflaColor);
			}
			.fa-xmark {
				color: var(--inflaColor);
			}
		}
	}
}
@keyframes btnAnimation {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.4);
	}
	100% {
		transform: scale(1);
	}
}
